<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="eXpressAppFrameworkTraceLevel" value="3" />
    <add key="Languages" value="ru-RU;ru" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="User Id=sa;Pooling=false;Password=ZeeKer1218;MultipleActiveResultSets=true;Data Source=192.168.31.253;Initial Catalog=DndTracker; TrustServerCertificate = True" />

  </connectionStrings>
</configuration>
